/* Task 34.1
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
*/

/* Task 34.2 */
.nuk{
    color: blueviolet;
}

.tue{
    font-size: 54px;
}

.svin{
    font-family: Georgia;
}