/* Task 18.1
p {
	
    font: 13px/20px "Times New Roman" ;
}
*/

/* Task 18.2 
p {
	
    font: bold 40px Arial ;
    width: 300px ;
    color:  red  ;
}

*/

/* Task 18.3 
p {
	font: bold italic 40px Arial;
    text-indent: 50px;
    line-height: 60px;
}

*/

