/* Task 48.1
li:first-child{
    color: red;
}
*/

/* Task 48.2 
li:last-child{
    color: green;
}
*/


/* Task 48.3 
li:first-child{
    color: red;
}

li:last-child{
    color: green;
}
*/

/* Task 48.4 
li:nth-child(3){
    color: red;
}
*/


/* Task 48.5 
li:nth-child(odd){
    color: red;
}

li:nth-child(even){
    color: green;
}
*/


/* Task 48.6 
li:nth-child(3n){
    color: red;
}
*/

/* Task 48.7 
li:nth-last-child(2){
    color: red;
}
*/

/* Task 48.8 
li:only-child{
    color: red;
}
*/

/* Task 48.9 */
li:empty {
    border: 1px solid blue;
	width: 100px;
}

li {
    border: 1px solid red;
	width: 100px;
}

