/* Task 32.1 
.eee i {
    color: red ;
}
*/


/* Task 32.2
.eee .bbb {
	color: red;
}
*/


/* Task 32.3
.eee h2 {
	color: red;
}
*/

/* Task 32.4
.eee h2.bbb {
	color: red;
}
*/

/* Task 32.5
.eee h3.bbb {
	color: red;
}
*/


/* Task 32.6
.eee p.bbb {
	color: red;
}
*/


/* Task 32.7
.eee .bbb .kkk {
	color: red;
}
*/