/* Task 12.1
h1{
    text-align: right;
}
*/

/* Task 12.2 
h2{
    text-align: center;
}

*/

/* Task 12.3 
th {
	text-align: left;
}

table {
	width: 500px;
}
*/

/* Task 12.4 

th {
	text-align: left;
    
}

table{

    width: 400px;
}
*/

/* Task 12.5 

tr{
    text-align: center;
}

table{
    width: 400px;
}
*/

/* Task 12.6 

p{
    width: 300px;
}
*/

/* Task 12.7 

p{
    text-align: justify;
}
*/

/* Task 12.8 
h2{
    width: 300px; 
    text-align: center; 
}

*/
