/* Task 23.1
p {
	color: blue;
}
*/


/* Task 23.2
p {
	color: blue;
}
b {
	color: red;
}
*/


/* Task 23.3
b {
	color: red;
}

p {
	color: blue;
}
*/


/* Task 23.4
ul {
	color: blue;
}
*/


/* Task 23.5
ul {
	color: blue;
}

li {
	color: red;
}
*/


/* Task 23.6
ul {
	color: blue;
}

li {
	color: red;
}

i {
	color: green;
}

*/


/* Task 23.7

i {
	font-size: 30px;
}
ul {
	font-size: 20px;
}
li {
	color: red;
	font-weight: bold;
}

*/