/* Task 53.1
#elem{
    border:1px solid red ;
    width: 250px;
    height: 200px;
}
*/


/* Task 53.2 
#elem{
    border:2px dotted blue ;
    width: 300px;
    height: 200px;
}
*/

/* Task 53.3 
#elem{
    border:3px dashed green ;
    width: 300px;
    height: 200px;
}
*/

/* Task 53.4 */
#elem{
    border:5px double orange ;
    width: 300px;
    height: 200px;
}



